html {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.boxes {
  background-color: #f2f2f2;
  border: 2px solid #fff;
  border-radius: 8px;
}

header,
nav {
  text-align: center;
}

.yellow {
  background-color: yellow;
}

.color-brand-dark {
  color: #113c76;
}

.blue {
  background-color: #f2f2f2;
}

.l-blue {
  color: orange;
}

a:hover {
  color: orange;
}

.nav a:focus {
  outline: 3px solid #000;
}

.fake {
  background-color: blue;
  background-image: "url(../images/desert.jpg)";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40em;
}

.current {
  color: orange;
}

.white {
  color: #f2f2f2;
}

footer {
  background-color: #e2e2e2;
}

@media only screen and (min-width: 38em) {

  nav {
    text-align: right;
  }

  nav li {
    display: inline-block;
  }

}

@media only screen and (min-width: 52em) {

  .statement {
    display: inline-block;
  }

}
